@import '~antd/dist/antd.css';

.App {
  text-align: center;
  padding-top: 100px;
}

body{
  background-color: #DDD;
}

.App-link {
  color: #61dafb;
}

.background{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ribbon{
  position: absolute;
  bottom:50px;
  margin:0px 10%;
  height: 100px;
  width: 80%;
  z-index: 4;
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  width: 100%;
}

.ribbon h1{
  font-size: 5em;
  text-align: center;
  margin: 0px;
}

.profile{
  width: 100%;
  height: auto;
  border: 1px solid black;
  position: relative;
}

.profile image{
  z-index: 3;
  position: relative;
}

.profile .image img{
  width: 100%;
  height: auto;
  z-index: 3;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
